
.Primary
    width: $Dimension__nav--width
    height: 100vh
    top: 0
    left: 0
    position: absolute
    &:after, &__body
        width: $Dimension__nav--width
        left: 0
        top: 0
        bottom: 0
        position: fixed
    &:after
        content: ""
        background: $Color__blue--2
    &__body
        padding-top: $Dimension__header--height
    &__overflow
        height: 100%
        overflow: auto
        -webkit-overflow-scrolling: touch;