/**
 * Declare all webfonts
 */
 
// @font-face {
//   font-family: "FontName"
//   src: url("../font/FontName/FontName.eot")
//   src: url("../font/FontName/FontName.eot?#iefix") format("embedded-opentype"),
//        url("../font/FontName/FontName.woff") format("woff"),
//        url("../font/FontName/FontName.ttf") format("truetype")
// }