/**
 * Setup all typography
 */
 
 // Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
    text-rendering: optimizeLegibility
h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}
h6, .h6 {}

// Paragraphs
p, ol, blockquote
    margin-bottom: $Font__base--margin
    &:last-child
        margin-bottom: 0