<div>
    <!-- Existing media items -->
    <ul class="MediaListing Utility--clearfix Utility--margin-24" v-show="existing.length">
        <li class="MediaListing__item" v-for="media in existing" v-if="! media.removed">
            <div class="MediaListing__main MediaListing__main--{{ media.type }}" transition="MediaListing__item-delete">
                <input type="hidden" name="cmsmedia[{{ name }}][{{ $index }}]" value="{{ media.cms_medium_id }}" />
                <i class="MediaListing__icon MediaListing__icon--type fa fa-{{ media.icon }}" title="Media type: {{ media.type }}"></i>
                <i class="MediaListing__icon MediaListing__icon--delete fa fa-trash" v-on:click.stop="remove($index)" title="Delete this {{ media.type }}?"></i>
                <partial :name="media.type"></partial>
            </div>
        </li>
    </ul>

    <!-- Select media button -->
    <p>
        <button type="button" class="Button Button--small Button--orange Button--icon" @click="pick">
            <i class="Button__icon fa fa-photo"></i>
            {{ label }}
        </button>
    </p>
</div>