
// Oranges
$Color__orange--1 = #ff5339 // brand orange

// Blues
$Color__blue--1 = #303b51 // dark blue, global brand blue
$Color__blue--2 = #273246 // darker blue, used for ui elements (header logo)
$Color__blue--3 = #1d2535 // darkest blue, used for nav onstate
$Color__blue--4 = #348fe2 // vibrant blue, used for form buttons

// Greys
$Color__grey--1 = #efefef // light grey, used for backgrounds
$Color__grey--2 = #cdcdcd // lightish grey, used for form borders
$Color__grey--3 = #a9a9a9 // lightish grey, used for some light text (slightly light than muted)
$Color__grey--4 = #dcdcdc // lighter grey, used for some box borders
$Color__grey--5 = #f4f4f4 // lightest grey, used for listing odd columns

// Reds
$Color__red--1 = #ff5b57 // vibrant red, used for errors

// Greens
$Color__green--1 = #00ac71 // darkish green, used for validation

// Body colours
$Color__body--background = $Color__grey--1
$Color__body--text = #000

// Link colours
$Color__links = #ff5339

// Text colours
$Color__text--muted = #999
$Color__selection--background = #ff5339
$Color__selection--text = #fff
$Color__placeholder = $Color__text--muted