/**
 * Set all colour variables
 */

// Oranges
$Color__orange--1 = #ff5339 // brand orange

// Blues
$Color__blue--1 = #303b51 // dark blue, global brand blue

// Greys
$Color__grey--1 = #efefef // light grey, used for backgrounds
$Color__grey--2 = #cdcdcd // lightish grey, used for form borders

// Reds
$Color__red--1 = #ff5b57 // vibrant red, used for errors

// Greens
$Color__green--1 = #00ac71 // darkish green, used for validation

// Body colours
$Color__body--background = #fff
$Color__body--text = #000

// Link colours
$Color__links = #ff5339

// Text colours
$Color__text--muted = #999
$Color__selection--background = #ff5339
$Color__selection--text = #fff
$Color__placeholder = $Color__text--muted