/**
 * Set all typography variables
 */

// Font families
$Font__base--family = 'Open Sans', Helvetica, Arial, 'sans-serif'

// Font styling
$Font__base--size = 14px
$Font__base--weight = 400
$Font__base--smoothing = antialiased
$Font__base--line-height = 1.62

// Margin
$Font__base--margin = 18px