 
 // Placeholders
::-webkit-input-placeholder
    color: $Color__placeholder

:-moz-placeholder
    color: $Color__placeholder

::-moz-placeholder
    color: $Color__placeholder

:-ms-input-placeholder
    color: $Color__placeholder
    
// Remove webkits highlight
input:focus, select:focus, textarea:focus, button:focus
    outline: none
    
// Hide IE's clear cross
::-ms-clear
    display: none
    
// Global/resets
input, textarea, select
    margin: 0
    background: #fff
    font-family: $Font__base--family
    font-size: 100%
    text-align: left
textarea
    overflow: auto
.checkbox, .radio
    cursor: pointer
        
// Form Elements
.Form
    $default-height = 48px
    $small-height = 34px
    width: 100%
    display: table
    &__row
        display: table-row
        &:first-child
            .Form__field, .Form__label
                padding-top: 0
        &:last-child
            .Form__field, .Form__label
                padding-bottom: 0
                border-bottom: 0
        &--top .Form__label
            vertical-align: top
    &__label, &__field
        padding: 18px 0
        border-bottom: solid 1px $Color__grey--1
        vertical-align: middle
        display: table-cell
    &__label
        width: 25%
    &__field
        width: 75%
        padding-left: 12px
    &__input, &__select, &__textarea
        transition: border-color .2s ease-in
        width: 100%
        height: $default-height
        padding-left: 14px
        color: $Color__body--text
        border: solid 1px $Color__grey--2
        vertical-align: top
        &:focus
            border-color: $Color__orange--1 !important
        &--small
            height: $small-height
            padding-left: 10px
            font-size: 12px
    &__input, &__textarea
        padding-right: 14px            
    &__textarea
        height: auto
        padding-top: 14px
        padding-bottom: 14px
    &__checkbox, .Form__input-label
        padding: 0 0 0 24px
        position: relative
        input[type=checkbox], input[type=radio]
            left: 0
            top: 3px
            position: absolute
    &__radios .Form__input-label
        margin-right: 18px
    &__checkboxes .Form__input-label
        width: 33.3333%
        margin: 0 0 6px
        padding-right: 8px
        float: left
    &__button
        height: $default-height
        &--small
            height: $small-height
            line-height: $small-height
            font-size: 14px
            padding-left: 10px
            padding-right: 10px
    &__file 
        position: relative
        &-placeholder, &-preview
            height: 60px
        &-button 
            width: 125px
            float: left 
        &-placeholder 
            width: calc(100% - 125px - 70px)
            padding-left: 12px
            line-height: 65px
            cursor: pointer
            float: left 
            &--empty
                color: $Color__grey--3
        &-preview
            width: 60px
            height: 60px
            text-align: center
            background-color: #f1f1f1
            background-repeat: no-repeat
            background-position: 50% 50%
            background-size: cover
            top: 0
            right: 0
            position: absolute
            z-index: 1
            &:before
                content: "preview"
                width: 100%
                padding: 1px 0
                font-size: 8px 
                text-align: center
                background: rgba($Color__grey--4, .8)
                left: 0
                bottom: 0
                position: absolute
        &-spinner
            margin-top: 20px
            color: $Color__grey--3
        &-clear 
            transition: color .2s
            color: $Color__grey--4
            font-size: 12px
            right: -6px
            top: -12px
            position: relative
            cursor: pointer
            &:hover
                color: $Color__red--1
    /*&__file 
        width: 100%
        display: table
        &-button, &-placeholder, &-preview
            display: table-cell
        &-placeholder 
            height: 60px
            padding: 0 70px 0 12px
            line-height: 65px
            position: relative
            cursor: pointer
            &--empty
                color: $Color__grey--3
        &-preview
            width: 60px
            height: 60px
            text-align: center
            background-color: #f1f1f1
            background-repeat: no-repeat
            background-position: 50% 50%
            background-size: cover
            position: relative
            z-index: 1
            &:before
                content: "preview"
                width: 100%
                padding: 1px 0
                font-size: 8px 
                text-align: center
                background: rgba($Color__grey--4, .8)
                left: 0
                bottom: 0
                position: absolute
        &-spinner
            margin-top: 24px
            color: $Color__grey--3
        &-clear 
            transition: color .2s
            color: $Color__grey--4
            font-size: 12px
            right: -6px
            top: -12px
            position: relative
            cursor: pointer
            &:hover
                color: $Color__red--1*/
    &__required
        color: $Color__red--1
        font-family: "Droid Sans Mono"
        font-size: 16px
    &__info, &__error
        padding: 5px 14px
        font-size: 11px
        border: solid 1px $Color__grey--2
        text-shadow: 1px 1px 0 #fff
        display: block
        .fa 
            margin-right: 4px
    &__info
        background: $Color__grey--1
        border-top: 0
        border-radius: 0 0 6px 6px
        color: #888
        .fa
            color: $Color__blue--4
    &__error
        background: $Color__red--3
        border-bottom: 0
        border-radius: 6px 6px 0 0
        color: $Color__red--2
        font-weight: 600
        .fa
            color: $Color__red--2
    &__radios .Form__info, &__radios .Form__error, &__checkboxes .Form__info, &__checkboxes .Form__error
        border: 0
        background: none
    &__radios .Form__info, &__checkboxes .Form__info
        padding: 8px 0 0
    &__radios .Form__error, &__checkboxes .Form__error
        padding: 0 0 8px
    &__buttons
        float: left
        button 
            margin-right: 8px
    &__cancel
        float: right
    &__destroy
        padding: 44px 12px !important
        text-align: center
        font-size: 20px
        font-weight: 300
        p 
            margin-bottom: 34px
    &__symbol
        width: $default-height
        height: $default-height
        text-align: center
        line-height: $default-height
        border: solid 1px $Color__grey--2
        background: $Color__grey--1
        .fa 
            font-size: 18px
        &--prefix
            border-right: 0
            float: left
        &--suffix
            border-left: 0
            float: right
    &--prefixed, &--suffixed
        .Form__control
            width: "calc(100% - %s)" % $default-height
.Form--prefixed.Form--suffixed
    .Form__control
        width: calc(100% - 48px - 48px)
        
//
// Responsive
//
    
+respond(all-devices)
    .Form
        &__label
            width: 30%
        &__field
            width: 60%
+respond(all-phones)
    .Form 
        &__checkboxes .Form__input-label
            width: 50%
+respond(phone-portrait)
    .Form, .Form__row, .Form__label, .Form__field
        width: auto
        display: block
    .Form
        &__label
            padding-bottom: 8px !important
            border: 0
        &__field
            padding-top: 0
            padding-left: 0
        &__input-label
            width: auto !important
            float: none !important
            display: block !important
        &__buttons, &__cancel 
            float: none
            .Button
                width: 100%
        &__buttons
            .Button 
                margin-bottom: 8px
            
            
            
            
            
            
            
            
            