
body.Listing
    
    .Filters
        &__filter
            &--totals
                padding-top: 6px
                float: left
                strong
                    font-weight: bold
            &--form
                float: right
        &__search, &__perpage
            margin-right: 8px
        &__search
            width: 200px
        &__perpage
            width: 70px
        &__label
            margin-right: 4px
            font-size: 12px
    
    .Noresults
        padding: 64px 0
        text-align: center
        &__title
            font-size: 30px
            font-weight: 300
        &__link
            margin: 0
    
    .List__column
        width: 100%
        &--center
            text-align: center
         
    .List__type   
        &--number
            padding: 2px 8px
            font-family: 'Droid Sans Mono'
            background: #e3e3e3
            color: #7d2727
            border-radius: 3px
            text-shadow: 1px 1px 0 #fff
            font-size: 14px
            displaty: inline-block
        &--boolean
            font-size: 20px
            &-1
                color: $Color__green--2
            &-0
                color: $Color__grey--3
                opacity: .6
        
            
    //
    // Responsive
    //
    
    +respond(all-devices)
        .Filters
            &__search
                width: 170px
    +respond(all-phones)
        .Filters
            &__filter
                &--totals, &--form
                    text-align: center
                    float: none
                &--totals
                    margin: 0 0 18px
    +respond(phone-portrait)
        .Filters
            &__search, &__perpage
                width: 100%
                margin: 0 0 6px
            &__label
                margin: 0 0 6px
                display: inline-block
            .Form__button
                width: 100%