body.MediaLibrary
    background: #fff
    
    #media 
        height: 100vh
        
    $title_height = 115px
    .Title
        height: $title_height
        padding-top: 32px
        padding-bottom: 0
        padding-left: 18px
        padding-right: 18px
        background: $Color__grey--1
        &--sub .Title__buttons
            padding-top: 16px
    .MediaMain
        width: 100%
        height: "calc(100% - %s)" % $title_height
        overflow: auto
        overflow-x: hidden
        -webkit-overflow-scrolling: touch
        &--pad 
            padding: 12px
            background: $Color__grey--1
    .MediaListing
        width: 100%
        min-height: 100%
        &__item
            width: 20%
            float: left
            &-delete-transition
                transition: opacity .4s
                opacity: 1
            &-delete-enter
                opacity: 1
            &-delete-leave
                opacity: 0
        &__main
            font-size: 12px
            display: block
            position: relative
            &--document, &--embed
                .MediaListing__slot
                    width: 100%
                    height: 100%
                    padding: 0 8px
                    background: $Color__grey--5
                    text-align: center
                    text-shadow: 1px 1px 0 #fff
                    left: 0
                    top: 0
                    position: absolute
                    z-index: 2
        &__icon
            width: 30px
            height: 30px
            text-align: center
            line-height: 30px
            color: #fff
            font-size: 18px
            position: absolute
            z-index: 5
            &--type 
                background: $Color__orange--1
                right: 0
                bottom: 0
            &--edit
                background: $Color__blue--4
                left: 0
                top: 0
                &:hover
                    background: darken($Color__blue--4, 10%)
            &--focal, &--preview
                background: $Color__green--1
                left: 0
                bottom: 0
                &:hover
                    background: darken($Color__green--1, 10%)
            &--deleting, &--delete
                background: $Color__red--4
                right: 0
                top: 0
            &--delete, &--edit, &--focal
                transition: background .2s
                cursor: pointer
            &--delete
                &:hover
                    background: darken($Color__red--4, 10%)
        &__image
            width: 100%
            height: auto
            display: block
            position: relative
            z-index: 1
        &__filetype
            margin-bottom: 6px
            font-size: 26px
            color: $Color__orange--1
        &__sub
            font-size: 11px 
            color: $Color__grey--3
            display: block
    .MediaNoresults
        height: 100%
        padding: 0 12px
        text-align: center
        &__title
            font-size: 30px
            font-weight: 300
            line-height: 40px
    .MediaTypes
        display: inline-block
        &__type
            width: 180px
            height: 180px
            margin: 6px
            text-align: center
            display: inline-block
        &__link
            transition: background .2s
            height: 100%
            background: $Color__orange--1
            font-size: 50px
            line-height: 160px
            color: #fff
            display: block
            position: relative
            &:hover
                background: $Color__blue--1
        &__title
            width: 100%
            text-align: center
            font-size: 22px
            font-weight: 300
            line-height: normal
            bottom: 18px
            left: 0
            position: absolute
            display: block
    .MediaFocal
        lost-utility: clearfix
        &__focus
            width: 60%
            float: left 
            position: relative
        &__image
            width: 100%
            height: auto
            display: block
        &__sections
            width: 100%
            left: 0
            top: 0
            bottom: 0
            position: absolute
            z-index: 1
            table
                width: 100%
                height: 100%
                td
                    transition: all .2s
                    width: 33.3333%
                    height: 33.3333%
                    background: rgba(#000, .5)
                    text-align: center
                    vertical-align: middle
                    font-size: 14px
                    color: rgba(#fff .8)
                    border-bottom: solid 1px #fff
                    border-right: solid 1px #fff
                    cursor: pointer
                    &:last-child
                        border-right: 0
                    &:hover, &.MediaFocal--selected
                        background: transparent
                        color: #fff
                        text-shadow: 1px 1px 1px #000
                tr:last-child td
                    border-bottom: 0
        &__info
            margin: 0 0 0 60%
            padding: 24px
        
    //
    // Responsive
    //
    
    +respond(large-screen)
        .MediaListing__item
            width: 16.6666%
    +respond(huge-screen)
        .MediaListing__item
            width: 14.2857%
    +respond(massive-screen)
        .MediaListing__item
            width: 12.5%
    +respond(all-devices)
        .MediaListing__item
            width: 25%
        .MediaTypes
            display: block
            &__type
                width: calc(25% - 12px)
                height: 170px
                float: left
            &__link
                line-height: 150px
    +respond(all-phones)
        $title_height = 155px
        .Title 
            height: $title_height
            padding-top: 12px
        .MediaListing__item
            width: 33.3333%
        .MediaMain
            height: "calc(100% - %s)" % $title_height
        .MediaFocal
            &__focus
                width: auto
                float: none
            &__info
                margin: 0
                padding: 12px
    +respond(phone-portrait)
        .MediaNoresults
            &__title
                font-size: 20px
                line-height: 30px
        .MediaListing__item
            width: 50%
        .MediaTypes
            &__type
                width: auto
                height: 150px
                margin-left: 0
                margin-right: 0
                display: block
                float: none
            &__link
                line-height: 120px