body.MediaLibrary
    background: #fff
    
    #media 
        height: 100vh
        
    $title_height = 115px
    .Title
        height: $title_height
        padding-top: 32px
        padding-bottom: 0
        padding-left: 18px
        padding-right: 18px
        background: $Color__grey--1
        &--sub .Title__buttons
            padding-top: 16px
    .MediaMain
        width: 100%
        height: "calc(100% - %s)" % $title_height
        overflow: auto
        overflow-x: hidden
        -webkit-overflow-scrolling: touch
        &--pad 
            padding: 12px
            background: $Color__grey--1
    .MediaListing
        width: 100%
        min-height: 100%
        &__item
            width: 20%
            float: left
            a 
                display: block
                position: relative
        &__icon
            width: 30px
            height: 30px
            text-align: center
            line-height: 30px
            background: $Color__orange--1
            color: #fff
            font-size: 18px
            right: 0
            bottom: 0
            position: absolute
        &__image
            width: 100%
            height: auto
            display: block
    .MediaNoresults
        height: 100%
        padding: 0 12px
        text-align: center
        &__title
            font-size: 30px
            font-weight: 300
            line-height: 40px
        
    //
    // Responsive
    //
    
    +respond(large-screen)
        .MediaListing__item
            width: 16.6666%
    +respond(huge-screen)
        .MediaListing__item
            width: 14.2857%
    +respond(massive-screen)
        .MediaListing__item
            width: 12.5%
    +respond(all-devices)
        $title_height = 155px
        .Title 
            height: $title_height
            padding-top: 12px
        .MediaMain
            height: "calc(100% - %s)" % $title_height
        .MediaListing__item
            width: 25%
    +respond(phone-portrait)
        .MediaNoresults
            &__title
                font-size: 20px
                line-height: 30px
        .MediaListing__item
            width: 33.3333%