body.session
    
    .Background, .Session-form
        height: 100vh
    
    .Background
       width: calc(100% - 500px)
       background: url(../img/login.jpg) 50% 50%/cover no-repeat
       float: left
    .Session-form
        width: 500px
        padding: 0 44px 0
        background: $Color__grey--1
        float: right
        
    .Logo
        margin-bottom: 44px
        font-size: 24px
        font-weight: 300
        
    .Login-field
        width: 100%
        margin: 0 0 12px
    .Login-error
        margin: 0 0 4px
        color: $Color__red--1
        font-weight: 600
    input
        margin: 0 0 2px
    fieldset
        margin: 0 0 34px
    button[type=submit]
        margin: 0 0 18px
        
    p 
        margin: 0 0 44px
        
    .Session-footer
        padding: 12px 0 0
        border-top: solid 1px $Color__grey--2
        text-align: center
